$primary: #001F3F;
$dark:#0D131F;
$light:	#00366d98;
$secondary:#F9BA26;
$table-border-color: black;
// import Bootstrap
// @import '../obbs/bootstrap-5.2.3/scss/bootstrap.scss'; 
@import '../RoyalBanquet2/bootstrap-5.2.3/scss/bootstrap.scss'; 